<footer class="container-fluid py-5" style="border-top: 1px solid #e4e5e7">
  <div class="container-cover">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="accordion w-100 d-lg-flex" id="accordion">
            <div class="col-xl col-12">
              <div
                href="#categories"
                data-toggle="collapse"
                class="footer-title__collapse h5 nav-link p-0 pt-1 d-block d-lg-none d-xl-none"
              >
                <span style="text-align: left">Categories</span>
                <i
                  style="text-align: right; float: right"
                  class="fas fa-chevron-down clear"
                ></i>
              </div>

              <div
                class="footer-title__expand h5 p-0 pt-1 d-none d-lg-block d-xl-block"
              >
                Categories
              </div>

              <div
                class="collapse d-lg-flex collapse-content"
                id="categories"
                data-parent="#accordion"
              >
                <ul class="list-unstyled">
                  <li *ngFor="let category of listCategories">
                    <a
                      routerLink="categories/{{ category._id }}"
                      class="nav-link p-0 pt-1"
                      >{{ category.name }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl col-12">
              <div
                href="#about"
                data-toggle="collapse"
                class="footer-title__collapse h5 nav-link p-0 pt-1 d-block d-lg-none d-xl-none"
              >
                <span style="text-align: left">About</span>
                <i
                  style="text-align: right; float: right"
                  class="fas fa-chevron-down clear"
                ></i>
              </div>

              <div
                class="footer-title__expand h5 p-0 pt-1 d-none d-lg-block d-xl-block"
              >
                About
              </div>

              <div
                class="collapse d-lg-flex collapse-content__ex"
                id="about"
                data-parent="#accordion"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="nav-link p-0 pt-1">Careers</a>

                    <a class="nav-link p-0 pt-1">Press & News</a>
                    <a class="nav-link p-0 pt-1">Partnerships</a>
                    <a class="nav-link p-0 pt-1">Privacy Policy</a>
                    <a class="nav-link p-0 pt-1">Terms of Service</a>
                    <a class="nav-link p-0 pt-1"
                      >Intellectual Property Claims</a
                    >
                    <a class="nav-link p-0 pt-1">Investor Relations</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl col-12">
              <div
                href="#support"
                data-toggle="collapse"
                class="h5 footer-title__collapse nav-link p-0 pt-1 d-block d-lg-none d-xl-none"
              >
                <span style="text-align: left">Support</span>
                <i
                  style="text-align: right; float: right"
                  class="fas fa-chevron-down clear"
                ></i>
              </div>

              <div
                class="footer-title__expand h5 p-0 pt-1 d-none d-lg-block d-xl-block"
              >
                Support
              </div>

              <div
                class="collapse d-lg-flex collapse-content__ex"
                id="support"
                data-parent="#accordion"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="nav-link p-0 pt-1">Help & Support</a>

                    <a class="nav-link p-0 pt-1">Trust & Safety</a>
                    <a class="nav-link p-0 pt-1">Selling on Fiverr</a>
                    <a class="nav-link p-0 pt-1">Buying on Fiverr</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl col-12">
              <div
                href="#community"
                data-toggle="collapse"
                class="footer-title__collapse h5 nav-link p-0 pt-1 d-block d-lg-none d-xl-none"
              >
                <span style="text-align: left">Community</span>
                <i
                  style="text-align: right; float: right"
                  class="fas fa-chevron-down clear"
                ></i>
              </div>

              <div
                class="footer-title__expand h5 p-0 pt-1 d-none d-lg-block d-xl-block"
              >
                Community
              </div>

              <div
                class="collapse d-lg-flex collapse-content__ex"
                id="community"
                data-parent="#accordion"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="nav-link p-0 pt-1">Events</a>

                    <a class="nav-link p-0 pt-1">Blog</a>
                    <a class="nav-link p-0 pt-1">Forum</a>
                    <a class="nav-link p-0 pt-1">Community Standards</a>
                    <a class="nav-link p-0 pt-1">Podcast</a>
                    <a class="nav-link p-0 pt-1">Affiliates</a>
                    <a class="nav-link p-0 pt-1">Invite a Friend</a>
                    <a class="nav-link p-0 pt-1">Become a Seller</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl col-12">
              <div
                href="#moreinfo"
                data-toggle="collapse"
                class="footer-title__collapse h5 nav-link p-0 pt-1 d-block d-lg-none d-xl-none"
              >
                <span style="text-align: left">More From Fiverr</span>
                <i
                  style="text-align: right; float: right"
                  class="fas fa-chevron-down clear"
                ></i>
              </div>

              <div
                class="footer-title__expand h5 p-0 pt-1 d-none d-lg-block d-xl-block"
              >
                More From Fiverr
              </div>

              <div
                class="collapse d-lg-flex collapse-content__ex"
                id="moreinfo"
                data-parent="#accordion"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="nav-link p-0 pt-1">Fiverr Business</a>

                    <a class="nav-link p-0 pt-1">Fiverr Pro</a>
                    <a class="nav-link p-0 pt-1">Fiverr Studios</a>
                    <a class="nav-link p-0 pt-1">Fiverr Logo Maker</a>
                    <a class="nav-link p-0 pt-1">Fiverr Guides</a>
                    <a class="nav-link p-0 pt-1">Get Inspired</a>
                    <a class="nav-link p-0 pt-1">ClearVoice</a>
                    <a class="nav-link p-0 pt-1">Fiverr Workspace</a>
                    <a class="nav-link p-0 pt-1">Learn</a>
                    <a class="nav-link p-0 pt-1">Working Not Working</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="container" style="border-top: 1px solid #e4e5e7">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center">
        <div class="p-3">
          <svg
            width="91"
            height="27"
            viewBox="0 0 91 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g fill="#7A7D85">
              <path
                d="m82.9 13.1h-3.2c-2.1 0-3.2 1.5-3.2 4.1v9.3h-6.1v-13.4h-2.6c-2.1 0-3.2 1.5-3.2 4.1v9.3h-6.1v-18.4h6.1v2.8c1-2.2 2.4-2.8 4.4-2.8h7.4v2.8c1-2.2 2.4-2.8 4.4-2.8h2v5zm-25.6 5.6h-12.6c.3 2.1 1.6 3.2 3.8 3.2 1.6 0 2.8-.7 3.1-1.8l5.4 1.5c-1.3 3.2-4.6 5.1-8.5 5.1-6.6 0-9.6-5.1-9.6-9.5 0-4.3 2.6-9.4 9.2-9.4 7 0 9.3 5.2 9.3 9.1 0 .9 0 1.4-.1 1.8zm-5.9-3.5c-.1-1.6-1.3-3-3.3-3-1.9 0-3.1.8-3.4 3zm-23.1 11.3h5.3l6.7-18.3h-6.1l-3.2 10.7-3.4-10.8h-6.1zm-24.9 0h6v-13.4h5.7v13.4h6v-18.4h-11.6v-1.1c0-1.2.9-2 2.3-2h3.5v-5h-4.4c-4.5 0-7.5 2.7-7.5 6.6v1.5h-3.4v5h3.4z"
              ></path>
            </g>
            <g fill="#7A7D85">
              <path
                d="m90.4 23.3c0 2.1-1.6 3.7-3.8 3.7s-3.8-1.6-3.8-3.7 1.6-3.7 3.8-3.7c2.2-.1 3.8 1.5 3.8 3.7zm-.7 0c0-1.8-1.3-3.1-3.1-3.1s-3.1 1.3-3.1 3.1 1.3 3.1 3.1 3.1 3.1-1.4 3.1-3.1zm-1.7.8.1.9h-.7l-.1-.9c0-.3-.2-.5-.5-.5h-.8v1.4h-.7v-3.5h1.4c.7 0 1.2.4 1.2 1.1 0 .4-.2.6-.5.8.4.1.5.3.6.7zm-1.9-1h.7c.4 0 .5-.3.5-.5 0-.3-.2-.5-.5-.5h-.7z"
              ></path>
            </g>
          </svg>
        </div>
        <span>© Fiverr International Ltd. 2022</span>
        <span>© Product cloned by Bao Hoa</span>
      </div>
    </div>
  </div>
</div>
