::ng-deep #modalThongTinTaiKhoan {
  .modal-dialog {
    max-width: 80% !important;
  }
  .border-left {
    font-size: 12px;
  }
}

.modal-title span {
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 1rem;
}

::ng-deep .cdk-overlay-container {
  z-index: 3000;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-birthday {
  width: 50%;

  mat-form-field{
    width: 100%;
    padding-top: 24px;
  }
}