<div class="quan-li-job">
  <div class="d-flex justify-content-around align-items-center mb-2">
    <button
      mat-raised-button
      color="primary"
      data-toggle="modal"
      data-target="#ModalJob"
      (click)="addJob()"
    >
      Thêm công việc
    </button>

    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Công việc"
        [value]="keyword"
        [(ngModel)]="keyword"
        (keyup)="handleSearch()"
      />
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="Logout()">
      Đăng Xuất
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã công việc</th>
        <th>Tên công việc</th>
        <th>Hình Ảnh</th>
        <th>Giá ($USD)</th>
        <th>Người tạo</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="listJobs">
        <tr *ngFor="let item of listJobs; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ item._id }}</td>
          <td>{{ item.name }}</td>

          <td>
            <img
              src="{{ item.image }}"
              class="img-fluid"
              style="width: 250px"
            />
          </td>
          <td>{{ item.price }}</td>
          <td>{{ item.userCreated }}</td>
          <td>
            <div class="Btn-chuc-nang">
              <button
                class="mr-2"
                mat-raised-button
                (click)="updateJob(item)"
                data-toggle="modal"
                data-target="#ModalJob"
              >
                Sửa
              </button>
              <button mat-raised-button color="warn" (click)="deleteJob(item)">
                Xóa
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<!-- Modal -->
