<!-- Modal HTML Markup -->
<div id="signupModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Join Fiverr</h1>
      </div>
      <div class="modal-body">
        <div class="login-social">
          <div class="login-facebook">
            <a
              ><i class="fab fa-facebook"></i
              ><span>Continue with Facebook</span></a
            >
          </div>
        </div>
        <div class="form-separator"><span>or</span></div>

        <form #signUp="ngForm" (ngSubmit)="register(signUp.value)">
          <!-- Full Name -->
          <div class="fullname">
            <div class="form-outline mb-4 form-group" style="width: 45%">
              <input
                type="text"
                placeholder="First Name"
                name="first_name"
                id="form3Example1cg"
                class="form-control form-control-lg"
                ngModel
                required
                #FirstName="ngModel"
              />
              <!-- <div
                class="alert alert-danger"
                *ngIf="Email.errors && (Email.dirty || Email.touched)"
              >
                <div *ngIf="Email.errors.required">Vui lòng nhập tài khoản</div>
              </div> -->
            </div>

            <div class="form-outline mb-4 form-group" style="width: 45%">
              <input
                type="text"
                placeholder="Last name"
                name="last_name"
                id="form3Example1cg"
                class="form-control form-control-lg"
                ngModel
                required
                #LastName="ngModel"
              />
              <!-- <div
                class="alert alert-danger"
                *ngIf="Email.errors && (Email.dirty || Email.touched)"
              >
                <div *ngIf="Email.errors.required">Vui lòng nhập tài khoản</div>
              </div> -->
            </div>
          </div>

          <!-- Email -->
          <div class="form-outline mb-4 form-group">
            <input
              type="text"
              placeholder="Email"
              name="email"
              id="form3Example1cg"
              class="form-control form-control-lg"
              ngModel
              required
              #Email="ngModel"
            />
            <!-- <div
              class="alert alert-danger"
              *ngIf="Email.errors && (Email.dirty || Email.touched)"
            >
              <div *ngIf="Email.errors.required">Vui lòng nhập tài khoản</div>
            </div> -->
          </div>

          <!-- Password -->
          <div class="form-outline mb-4">
            <input
              type="text"
              name="password"
              id="form3Example3cg"
              placeholder="Password"
              class="form-control form-control-lg"
              ngModel
              required
              #Password="ngModel"
            />
            <!-- <div
              class="alert alert-danger"
              *ngIf="Password.errors && (Password.dirty || Password.touched)"
            >
              <div *ngIf="Password.errors.required">Vui lòng nhập mật khẩu</div>
            </div> -->
          </div>

          <!-- Phone -->
          <div class="form-outline mb-4">
            <input
              type="text"
              name="phone"
              id="form3Example3cg"
              placeholder="Phone"
              class="form-control form-control-lg"
              ngModel
              required
              #Phone="ngModel"
            />
          </div>

          <!-- Birthday -->
          <mat-form-field appearance="fill">
            <mat-label>Birthday</mat-label>
            <input
              name="birthday"
              ngModel
              required
              matInput
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input
                name="birthday"
                matInput
                [matDatepicker]="picker"
                ngModel
                required
                #Birthday="ngModel"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->

          <div class="d-flex justify-content-center">
            <button class="btn btn-block btn-lg gradient-custom-4 button-continue">
              Continue
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span
          >Already a member?
          <a type="button" (click)="signIn()">Sign in</a></span
        >
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
